<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC
 "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1/policyconfig.dtd">
<policyconfig>
  <vendor>gnome-ufw-switcher</vendor>
  <vendor_url>https://github.com/jerosch/gnome-ufw-switcher</vendor_url>

  <action id="org.gnome.ufw-switcher.modify">
    <description>Firewall-Einstellungen (ufw) ändern</description>
    <message>Authorisierung erforderlich, um die Firewall ein-/auszuschalten oder Regeln anzuwenden.</message>
    <icon_name>security-high</icon_name>
    <defaults>
      <allow_any>no</allow_any>
      <allow_inactive>no</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
  </action>
</policyconfig>
